.atk-row.atk-grid-spacing--xs(id="{$_name}")
    | {rows}{row}
    .atk-col-4.widget-box
      a.atk-padding--xs.atk-swatch-red.atk-box(href="widget.html" class="atk-swatch-{$color}")
        figure
          span.atk-block.atk-caps.atk-text-semibold {$name}
          span.atk-comment {$views} views
    | {/row}
    .atk-col-4.widget-box
      a.atk-padding--xs.atk-swatch-blue.atk-box(href="widget.html")
        figure
          span.atk-block.atk-caps.atk-text-semibold Login Form
          span.atk-comment 3 views
    .atk-col-4.widget-box
      a.atk-padding--xs.atk-swatch-blue.atk-box(href="widget.html")
        figure
          span.atk-block.atk-caps.atk-text-semibold Payment Form
          span.atk-comment 3 views
    .atk-col-4.widget-box
      a.atk-padding--xs.atk-swatch-blue.atk-box(href="widget.html")
        figure
          span.atk-block.atk-caps.atk-text-semibold Login Form
          span.atk-comment 3 views
    .atk-col-4.widget-box
      a.atk-padding--xs.atk-swatch-blue.atk-box(href="widget.html")
        figure
          span.atk-block.atk-caps.atk-text-semibold Payment Form
          span.atk-comment 3 views
    .atk-col-4.widget-box
      a.atk-padding--xs.atk-swatch-blue.atk-box(href="widget.html")
        figure
          span.atk-block.atk-caps.atk-text-semibold Payment Form
          span.atk-comment 3 views
    .atk-col-4.widget-box
      a.atk-padding--xs.atk-swatch-blue.atk-box(href="widget.html")
        figure
          span.atk-block.atk-caps.atk-text-semibold Social Feed
          span.atk-comment 3 views
    .atk-col-4.widget-box
      a.atk-padding--xs.atk-swatch-blue.atk-box(href="widget.html")
        figure
          span.atk-block.atk-caps.atk-text-semibold Login Form
          span.atk-comment 3 views
    .atk-col-4.widget-box
      a.atk-padding--xs.atk-swatch-blue.atk-box(href="widget.html")
        figure
          span.atk-block.atk-caps.atk-text-semibold Payment Form
          span.atk-comment 3 views
    .atk-col-4.widget-box
      a.atk-padding--xs.atk-swatch-blue.atk-box(href="widget.html")
        figure
          span.atk-block.atk-caps.atk-text-semibold Login Form
          span.atk-comment 3 views
    .atk-col-4.widget-box
      a.atk-padding--xs.atk-swatch-blue.atk-box(href="widget.html")
        figure
          span.atk-block.atk-caps.atk-text-semibold Payment Form
          span.atk-comment 3 views
    .atk-col-4.widget-box
      a.atk-padding--xs.atk-swatch-blue.atk-box(href="widget.html")
        figure
          span.atk-block.atk-caps.atk-text-semibold Payment Form
          span.atk-comment 3 views
    | {/rows}
