
<div id="{$_name}" class="atk-row atk-grid-spacing--xs">{rows}{row}
  <div class="atk-col-4 widget-box"><a href="{$url}" class="atk-padding--xs atk-swatch-red atk-box atk-swatch-{$color}">
      <figure><span class="atk-block atk-caps atk-text-semibold">{$name}</span><span class="atk-comment">{$views} views</span></figure></a></div>{/row}
  <div class="atk-col-4 widget-box"><a href="widget.html" class="atk-padding--xs atk-swatch-blue atk-box">
      <figure><span class="atk-block atk-caps atk-text-semibold">Login Form</span><span class="atk-comment">3 views</span></figure></a></div>
  <div class="atk-col-4 widget-box"><a href="widget.html" class="atk-padding--xs atk-swatch-blue atk-box">
      <figure><span class="atk-block atk-caps atk-text-semibold">Payment Form</span><span class="atk-comment">3 views</span></figure></a></div>
  <div class="atk-col-4 widget-box"><a href="widget.html" class="atk-padding--xs atk-swatch-blue atk-box">
      <figure><span class="atk-block atk-caps atk-text-semibold">Login Form</span><span class="atk-comment">3 views</span></figure></a></div>
  <div class="atk-col-4 widget-box"><a href="widget.html" class="atk-padding--xs atk-swatch-blue atk-box">
      <figure><span class="atk-block atk-caps atk-text-semibold">Payment Form</span><span class="atk-comment">3 views</span></figure></a></div>
  <div class="atk-col-4 widget-box"><a href="widget.html" class="atk-padding--xs atk-swatch-blue atk-box">
      <figure><span class="atk-block atk-caps atk-text-semibold">Payment Form</span><span class="atk-comment">3 views</span></figure></a></div>
  <div class="atk-col-4 widget-box"><a href="widget.html" class="atk-padding--xs atk-swatch-blue atk-box">
      <figure><span class="atk-block atk-caps atk-text-semibold">Social Feed</span><span class="atk-comment">3 views</span></figure></a></div>
  <div class="atk-col-4 widget-box"><a href="widget.html" class="atk-padding--xs atk-swatch-blue atk-box">
      <figure><span class="atk-block atk-caps atk-text-semibold">Login Form</span><span class="atk-comment">3 views</span></figure></a></div>
  <div class="atk-col-4 widget-box"><a href="widget.html" class="atk-padding--xs atk-swatch-blue atk-box">
      <figure><span class="atk-block atk-caps atk-text-semibold">Payment Form</span><span class="atk-comment">3 views</span></figure></a></div>
  <div class="atk-col-4 widget-box"><a href="widget.html" class="atk-padding--xs atk-swatch-blue atk-box">
      <figure><span class="atk-block atk-caps atk-text-semibold">Login Form</span><span class="atk-comment">3 views</span></figure></a></div>
  <div class="atk-col-4 widget-box"><a href="widget.html" class="atk-padding--xs atk-swatch-blue atk-box">
      <figure><span class="atk-block atk-caps atk-text-semibold">Payment Form</span><span class="atk-comment">3 views</span></figure></a></div>
  <div class="atk-col-4 widget-box"><a href="widget.html" class="atk-padding--xs atk-swatch-blue atk-box">
      <figure><span class="atk-block atk-caps atk-text-semibold">Payment Form</span><span class="atk-comment">3 views</span></figure></a></div>{/rows}
</div>