head
	meta(charset='utf-8')
	<!--[if IE]><!-->
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	<!--<![endif]-->
	meta(name='description', content='')
	meta(name="viewport", content="width=device-width, initial-scale=1")
	title Agile CSS
	link(rel='stylesheet', href='css/widgets.css')