
<div class="atk-layout">
  <div class="atk-layoutRow atk-layoutExpand">
    <div class="atk-layout atk-layoutCell">
      <main class="atk-layoutColumn atk-layoutExpand">
        <div class="atk-wrapper atk-padding-top--l atk-padding-bottom--l">
          <header class="atk-margin-bottom--l atk-cells">
            <div class="atk-cell atk-text-size--5xl"><span class="icon-atk"></span><span class="separator">/</span>Widget Gallery</div>
            <div class="atk-cell atk-align-right"><a href="https://github.com/atk4/agiletoolkit-css/tree/smart-swatches" class="atk-button atk-border-outline atk-swatch-ink">Download AgileCSS v0.92</a></div>
          </header>{$Content}
        </div>
      </main>
    </div>
  </div>
</div>