.atk-layout
  .atk-layoutRow.atk-layoutExpand
    .atk-layout.atk-layoutCell
      main.atk-layoutColumn.atk-layoutExpand
        .atk-wrapper.atk-padding-top--l.atk-padding-bottom--l
          header.atk-margin-bottom--l.atk-cells
            .atk-cell.atk-text-size--5xl
              span.icon-atk
              span.separator /
              | Widget Gallery
            .atk-cell.atk-align-right
              a.atk-button.atk-border-outline.atk-swatch-ink(href="#") Download AgileCSS v0.92
          | {$Content}
